Repository mdopp/diabay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend:test, backend:test

Path conditions:
  frontend:test: any of: frontend/**/*, .gitlab-ci.yml
  backend:test: any of: backend/**/*.py, backend/requirements*.txt, .gitlab-ci.yml

Update GitHub URLs with correct organization name
  INSTALLATION.md
  README.md
Due: none

Add GitHub Actions CI/CD workflow
  .github/workflows/build.yml
Due: none

Fix config to handle CI environments gracefully
  backend/.env
  backend/config.py
Due: backend:test

Fix tests for CI environment
  backend/tests/test_duplicates.py
Due: backend:test

Remove GitLab CI config - using GitHub Actions instead
  .gitlab-ci.yml
Due: frontend:test, backend:test

Skip static file mounting in CI/test environments
  backend/main.py
Due: backend:test

Add ESLint configuration for frontend
  frontend/.eslintrc.cjs
Due: frontend:test

Fix ESLint errors in ImageComparison component
  frontend/src/components/features/viewer/ImageComparison.tsx
Due: frontend:test

Allow ESLint warnings in CI (set max-warnings to 50)
  frontend/package.json
Due: frontend:test

Skip API endpoint tests temporarily (TestClient version issue)
  backend/tests/test_api_endpoints.py
Due: backend:test

Skip all duplicate detection tests temporarily
  backend/tests/test_duplicates.py
Due: backend:test

Enhance installer with dependency checking and installation
  install.ps1
Due: none

Fix remote execution (irm|iex) - auto-download repository
  install.ps1
Due: none

Fix Windows installation issues
  install.ps1
Due: none

Use existing .env values as defaults in installer
  install.ps1
Due: none

Use existing .env values as defaults in Linux installer too
  install.sh
Due: none

Fix install.ps1: Remove Node.js prompt and frontend build
  install.ps1
Due: none

Fix: Filter requirements & auto-download frontend
  install.ps1
Due: none

Fix: Install latest package versions instead of pinned
  install.ps1
Due: none

Add watchdog to dependencies
  install.ps1
Due: none

Add websockets and transformers to dependencies
  install.ps1
Due: none

Fix: Return relative URLs instead of absolute paths
  backend/main.py
Due: backend:test

Fix: Use shutil.move for cross-drive file moves
  backend/core/pipeline.py
Due: backend:test

Add rescan endpoint and EXIF tag writing
  backend/main.py
  install.ps1
Due: backend:test

Add rescan button to Statistics page
  frontend/src/lib/api/rescan.ts
  frontend/src/pages/StatsPage.tsx
Due: frontend:test

Fix: Add robust error handling for face detection
  backend/core/processor.py
Due: backend:test

Fix: Dynamic API and WebSocket URLs for network access
  frontend/src/hooks/useWebSocket.ts
  frontend/src/lib/api/client.ts
Due: frontend:test

Fix: Replace all hardcoded localhost URLs with dynamic API_URL
  frontend/src/components/features/gallery/GalleryItem.tsx
  frontend/src/lib/api/client.ts
  frontend/src/pages/DuplicatesPage.tsx
Due: frontend:test

Fix: Use backticks for template literals with API_URL
  frontend/fix-localhost.sh
  frontend/src/pages/DuplicatesPage.tsx
Due: frontend:test

Fix: Replace localhost URLs in ImageDetailPage with API_URL
  frontend/src/pages/ImageDetailPage.tsx
Due: frontend:test

Fix: Replace localhost URLs in PresetComparison
  frontend/src/components/features/viewer/PresetComparison.tsx
Due: frontend:test

Fix DuplicatesPage template literal syntax and use getAssetUrl helper
  frontend/src/components/features/viewer/PresetComparison.tsx
  frontend/src/pages/DuplicatesPage.tsx
  frontend/src/pages/ImageDetailPage.tsx
Due: frontend:test

Fix WebSocket URL to evaluate at runtime instead of module load time
  frontend/src/hooks/useWebSocket.ts
Due: frontend:test

Fix service worker cache patterns and remove console.log spam
  frontend/src/hooks/useWebSocket.ts
  frontend/src/lib/websocket/client.ts
  frontend/vite.config.ts
Due: frontend:test

Remove ALL localhost references - disable .env overrides
  frontend/.env.development
  frontend/.env.production
  frontend/src/hooks/useWebSocket.ts
  frontend/src/lib/api/client.ts
Due: frontend:test

Remove dev server proxy with localhost references
  frontend/vite.config.ts
Due: frontend:test

Fix rescan NOT NULL constraint error for original_path
  backend/main.py
Due: backend:test

Fix SQLite database locking with WAL mode and timeout settings
  backend/db/database.py
Due: backend:test

Fix greenlet error in rescan by eagerly loading tags relationship
  backend/main.py
Due: backend:test

Fix image paths to use relative URLs instead of absolute paths
  backend/core/pipeline.py
  backend/main.py
Due: backend:test
